/* navbar */ 

body{
    margin: 0;
    padding:0;
   
}
header img{
    width: 50%;
    padding: 1rem;

}

header{
    margin-bottom: 3rem;
}

h1{
    padding:1.5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color:#059669;*/
   background-color: #14B8A6;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.brand-title{
    font-size: 1.5rem;
    margin: 1rem;
}

.navbar-links ul{
    margin:0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: #E5E7EB;
    padding: 1.5rem;
    display: block;

}

.navbar-links li .actives{
    font-weight: bold;
    color:white;
    
}

.navbar-links li .in-active:hover{
    color:white;
    font-weight: bold;
    
}

/* toggle-button */

.toggle-button{
    position:absolute;
    top: 1.1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}




/* sections */

.sections{
    /*background-color: #D1FAE5;*/
    background-color: #CCFBF1;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 1rem;
    margin: 1.5rem;
   
}

.sections h3{
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}

.section-blog{
    /*background-color: #D1FAE5;*/
    background-color: #CCFBF1;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 3rem;
    margin: 1.5rem;
    
}
.section-blog h2{
    margin-top: 0.1rem;
    margin-bottom: 0rem;
}

.section-blog p{
    font-size: large;
}




.container{
    width: 90%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  
  padding:1rem;
    margin: auto;
    
    
}

.Container{
    width: 80%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  
  padding:1.5rem;
    margin: auto;
    text-align: center;
}

.Containers{
    width: 70%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  
  padding:1.5rem;
    margin: auto;
    text-align: center;
}

.Containers p{
    text-align: justify;
}

.Container p{
    
    text-align: justify;
   
}

table,tr,td,th{
    border:0.3px solid black;
}
  
  table {
    width: 100%;
    border-collapse: collapse;
  }



.containers{
    width: 85%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 1rem;
    
    
}


.link{
    text-decoration: none;
    padding: 0.3rem 2rem;
    margin:0.3rem;
}

.link-primary{
    /*background-color:#10B981;*/
    background-color: #2DD4BF;
    border-radius: 1rem;
    color:white;
    margin-bottom: 0.3rem;
}

.link-secondary{
  
    border-radius: 1rem;
    border: 1px solid #2DD4BF;
    margin-bottom: 0.3rem;
    color: black;
    
}
.link-secondary:hover{
    background-color:#2DD4BF ;
    color: white;
}




/* header */
header h2{
    font-size: 2.3rem;
   
}



/* footer */
footer{
    background-color: #14B8A6;
    padding: 1rem;
    color: white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.1rem;

}

footer img{
    /*padding-left: 1rem;*/
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 3%;
}

footer h3{
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    
   
}


:root{
    
    --off-white:#f3f4f6;
}

.ow{
    background-color: var(--off-white);
    padding: 1.5rem;
    margin-top: 1.5rem;
    font-size: larger;
    }

.ow h3{
    margin-top: 0rem;
    font-size: 1.7rem;
    margin-bottom:0.5rem;
}

.w{
    
    padding: 1.5rem;
    margin-top: 1.5rem;
    font-size: larger;
}
.w h3{
    margin-top: 0rem;
    font-size: 1.7rem;
    margin-bottom:0.5rem;
}

@media screen and (max-width:700px) {
    .link{
        display: block;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
       display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: 0.5rem 1rem;
    }
    
    .navbar-links.active{
        display: flex;
    }
    .containers{
      /*  width: 98%; */
        font-family: 'Atkinson Hyperlegible', sans-serif;
        padding: 1rem;
        
    }
    
    .section-blog{
        padding: 1.5rem;
    }

    
    .Container img{
        width: 100%;
    }
   
    .link-primary{
        width:50%;
    }
    .link-secondary{
        width:50%;
    }

/*
    .skills h3{
        font-size: larger;
    }
*/
    header img{
        width: 90%;
    }
    /*
    header h2{
        font-size: larger;
    }
*/


    footer img{
        width: 7%;
    }

    footer h3{
        font-size: medium;
    }

    footer p{
        font-size: medium;
    }

   

    
}


